<div class="card">
  <div class="card-header text-center bg-secondary">
    <h1 class="text-white"> Welcome to Movie Library</h1>
  </div>
  <div class="card-body">
    <a routerLink="" class="btn btn-sm bg-danger me-3">HOME</a>
    <a routerLink="movielibrary" class="btn btn-sm bg-danger me-3">Movie Library</a>
    <a routerLink="moviesbyrating" class="btn btn-sm bg-danger  me-3">Movies By Rating</a>
    <a routerLink="moviesbydaterange" class="btn btn-sm bg-danger me-3">Movies By Date Range</a>
    <a routerLink="moviesbyfranchise" class="btn btn-sm bg-danger">Movie By Franchise</a>
  </div>
</div>

<router-outlet></router-outlet>