<div class="d-flex justify-content-end">
    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""  screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
<table class="table-hover table table-striped table-light">
    <thead class="bg-white">
    <tr class="text-blue">
      <th  [appSort]="pageData"  data-order="desc" data-name="ID" scope="col">  ID </th>
      <th  [appSort]="pageData" data-order="desc" data-name="Title" scope="col"> Title </th>
      <th  [appSort]="pageData" data-order="desc" data-name="Year" scope="col"> Year </th>
      <th  [appSort]="pageData" data-order="desc" data-name="Rating" scope="col"> Rating </th>
      <th  [appSort]="pageData" data-order="desc" data-name="Franchise" scope="col"> Franchise </th>
    </tr>
  </thead>
    <tbody>
    <!--| filter: searchText-->
    <tr class="search" *ngFor="let info of pageData | paginate : { itemsPerPage:10 , currentPage: p}  ">
      <td>{{info.ID}}</td>
      <td>{{info.Title}}</td>
      <td>{{info.Year}}</td>
      <td>{{info.Rating}}</td>
      <td>{{info.Franchise}}</td>
    </tr>
    </tbody>
  </table>

