<div class="container-fluid mt-3 ">
    <div class="row">
      <div class="col">
        <h2>My Movie Library</h2>
        <form class="">
          <div class="form-group mb-2 d-flex">
            <label for="" class="p mt-2 me-3">Search By Franchise</label>
            <input type="text" class="form-control w-25" id="inputSearch" placeholder=""
                   id="mySearch" title="Find Info" name="mySearch"  (input)="searchData()">  
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">       
            <app-table [pageData]="pageData"></app-table>
      </div>
    </div>
  </div>