<div class="container-fluid mt-3 ">
    <div class="row">
      <div class="col">
        <h2>My Movie Library</h2>
        <form class="">
          <div class="form-group mb-2 d-flex">
            <label for="" class="p mt-2 me-3">Search By Rating</label>
            <input type="number" class="form-control w-25" placeholder=""
                   id="mySearch" title="Find Info" name="mySearch" [(ngModel)] = "movieRating" >  
             
                   <input name="chkIsAbove" type="checkbox" class="mt-3 ms-3 me-1"  [(ngModel)] = "isAbove" >
                   <label for=""  class="p mt-2 me-3">Above / Below</label>
                                    
            <input type="submit" class="btn btn-sm btn-primary ms-3" (click)="getData()"
                   value="Search">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="pageData.length>0">       
            <app-table [pageData]="pageData"></app-table>
      </div>
      <div *ngIf="pageData.length==0">**No Data Found**</div>
    </div>
  </div>
