<div class="row m-3">
    <div class="col-3 col-sm-3 col-md-3">
      <div class="card">
        <div class="card-header">Movie Library</div>
        <div class="card-body">
          Movies in the library, filtered by title
        </div>
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3">
      <div class="card">
        <div class="card-header">Movies By Rating</div>
        <div class="card-body">
          Movies that are above or below a certain Rating
        </div>
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3">
      <div class="card">
        <div class="card-header">Movies By Date Range</div>
        <div class="card-body">
          Movies between a date range
        </div>
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3">
      <div class="card">
        <div class="card-header">Movie By Franchise</div>
        <div class="card-body">
          Movies belonging to a given franchise
        </div>
      </div>
    </div>
  </div>