<div class="container-fluid mt-3 ">
    <div class="row">
      <div class="col">
        <h2>My Movie Library</h2>
        <form class="">
          <div class="form-group mb-2 d-flex">
            <label for="" class="p mt-2 me-3">Search By Date Range</label>
<div class="d-flex">
            <label for="" class="p mt-2 me-3">From :</label>
            <input type="number" class="form-control w-50" placeholder=""
              id="startYear" title="Find Info" [(ngModel)] = "startYear" name="startYear">  
            </div>
            <div class="d-flex">
              <label for="" class="p mt-2 me-3">To :</label>
              <input type="number" class="form-control w-50" [(ngModel)] = "endYear"  placeholder=""
              id="toYear" title="Find Info" name="toYear"> 
            </div>
          <div>
             
          </div>
          <input type="submit" class="btn btn-sm btn-primary ms-3" (click)="getData()"
          value="Search">
        </div>
        </form>
      </div>
    </div>
        <div class="row">
            <div class="col" *ngIf="pageData.length>0">       
                  <app-table [pageData]="pageData"></app-table>
            </div>
            <div *ngIf="pageData.length==0">**No Data Found**</div>
            <div *ngIf="errorMsgCD !=''" class="text-danger" >{{errorMsgCD}}</div>
        </div>
  </div>